.homePage{
    min-height: 100vh;
}
.events{
    height: auto;
    /* padding: 20px 0rem; */
    padding-bottom: 80px;
    background-color:#0f0f0f;
}
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .scroll-container-left {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
    top: 40px;
  }
  
  .scroll-content-left {
    display: flex;
    gap: 1.5rem; /* Adds gap between cards */
    animation: scroll 20s linear infinite;
  }
  


  @keyframes scroll-right {
    from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0);
      }
  }
  
  .scroll-container-right {
    /* background-color: black; */
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 50px;
  }
  
  .scroll-content-right {
    display: flex;
    gap: 1.5rem; /* Adds gap between cards */
    animation: scroll-right 20s linear infinite;
  }
  



  .card {
    cursor: pointer;
    flex: 0 0 28%; /* Each card takes 28% width */
    height: 300px; /* Same height for all cards */
    background-color: #262626; /* Tailwind blue-600 */
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  .card:hover{
    border: 2px solid #6290C3;
  }
  
  /* explore section */
  .explore-section{
    /* background-image: url('/sky.jpg'); */
    /* height: 700px; */
    /* background-repeat: no-repeat; */
    /* opacity: 0.6; */
    height: auto;
    padding-bottom:2.6rem ;
    background-color:#262626;
    color: white;
    /* background-attachment: scroll; */

  }
  .explore-cards{
    padding: 0 2rem;
    /* margin: 3rem 0; */
  }
  .explore-cardsin img{
    height: 100%;
  }
  .explore-cardsin img{
    cursor: pointer;
  }
  .explore-cardsin {
    transition: transform 0.3s ease-in-out;
    margin-top: 30px; /* Compensate for upward translation */
}

.explore-cardsin:hover {
    transform: translateY(-30px);
}

.explore-section h1{
  color: #393E41;
}
.explore-section h2{
  color: #393E41;
  
}
.explore-section button{
  background-color: #393E41;
  color:#262626 ;
  padding: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  /* margin-bottom: 20px; */
}
.info-main{
  /* height: 200px; */
  /* margin-bottom: 20px; */
  background-color: #393E41;
}
.select{
  color: black;
  background-color: #262626;
  border: 2px solid black;
}
.notselect{
  background-color: #262626;
  border: 1px solid white;
  color: white;
}
.buttom-one{
  background-color: #262626;

}
.filter-btn{
  padding:5px 65px ;
}


/* last section */
.lastSection{
  height: auto;
  display: flex;
  padding: 1.5rem 2.5rem;
  gap: 1rem;
  background-color: #262626;
}
.last-left{
  width: 50%;
  /* border: 2px solid black; */
  height: 500px;
  background-color: #F1FFE7;
  color: black;
  border-radius: 20px;
  padding: 0.75rem 1.2rem;
}
.last-right{
  width: 50%;
  /* border: 2px solid black; */
  height: 500px;
  background-color: #F1FFE7;
  color: black;
  border-radius: 20px;
}

iframe {
  width: 100%;
  height: 100%;  /* Ensure it takes full height of parent */
  border: 0;
  border-radius: 20px;
}