@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --bg-color: white;
  --text-color: black;
}
.dark-mode {
  --bg-color: black;
  --text-color: white;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Added a common system font stack */
}
